@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0f3460;
  --primary-transparent-one: rgba(15, 52, 96, 0.9);
  --primary-transparent-two: rgba(15, 52, 96, 0.9);
  --main-txt-color: #00334e;
  --text-light: #f6f5f5;
  --bg-primary: #def4f0;
}
body {
  font-family: "Raleway", sans-serif;
  color: var(--primary-color);
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.fluid {
  padding-left: 12%;
  padding-right: 12%;
}
.section-heading {
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.link-btn {
  padding: 8px 10px;
  max-width: 100px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--text-light);
  display: inline-block;
  text-decoration: none;
}
.text-start {
  text-align: left;
}
.text-secondary {
  color: #cf7500;
}
/* ---------------------------------------------------------navbar---------------------------------------------------- */
.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.6s;
}
nav.nav-change {
  background: var(--primary-transparent-two);
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.8);
}
.nav-links {
  position: relative;
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  z-index: 2;
}
.nav-links > li {
  position: relative;
}
.link {
  position: relative;
  font-size: 1.1rem;
  font-weight: bolder;
  letter-spacing: 1px;
  position: absolute;
  margin-top: -10px;
  padding-bottom: 2px;
  transition: 0.6s;
}
nav.nav-change .link {
  color: var(--text-light);
}
.link:hover {
  transition: all;
  transition: 0.5s;
  transition-timing-function: ease-out;
  transform: scale(1.1);
}
.link:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scale(0);
  -webkit-transform: translateX(-50%) scale(0);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  width: 100%;
  height: 3px;
  background-color: #cf7500;
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  -webkit-transition: transform 0.5s;
}
.link:hover:after {
  transform: translateX(-50%) scaleX(1);
  -webkit-transform: translateX(-50%) scaleX(1);
}
/* -----------------------------------------------------mainSection--------------------------------------------- */

.main-section {
  height: 90vh;
  background-image: url("../img/bg-img.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.main-section:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 90vh;
  background: rgba(232, 232, 232, 0.5);
  z-index: 1;
}

.main-heading,
.sub-heading,
.intro {
  z-index: 1;
  color: var(--main-txt-color);
}
.main-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 6rem;
  letter-spacing: 5px;
  font-weight: bold;
}
.sub-heading {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.intro {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 35px;
  max-width: 600px;
}
.select-box {
  margin-top: 35px;
  width: 400px;
  display: flex;
  z-index: 1;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.8);
}
.select-box .select-intro {
  background-color: var(--primary-color);
  padding: 10px 10px;
  color: var(--text-light);
}
.select-box select {
  background: rgba(104, 128, 156, 0.5);
  padding: 3px 10px;
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-color);
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 2px;
  /* color: var(--text-light); */
  margin-left: 0;
  -webkit-appearance: button;
  cursor: pointer;
}

/* -----------------------------aboutUs-------------------------------------- */

.about {
  min-height: 50vh;
  width: 100%;
  padding-bottom: 1.5rem;
  border-top: 3px solid var(--primary-color);
}
.about-content {
  display: flex;
}
.about-info,
.about-side {
  width: 50%;
  height: 100%;
}
.about-info {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about-info .info {
  text-align: justify;
  margin-top: 1%;
  margin-bottom: 1%;
}
.about-side {
  height: 100%;
  /* background-color: rgb(128, 128, 128, 0.2); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.side-img {
  height: 100%;
  width: 100%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.8);
}

/* ----------------------------------------------service-------------------------------------- */

.service {
  min-height: 100vh;
  background: linear-gradient(#0f4675, #0f4675 50%, #fff 50%, #fff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.service-heading {
  color: var(--text-light);
}
.service-text {
  color: var(--text-light);
  text-align: center;
  padding-bottom: 2rem;
}
.card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-container .card {
  position: relative;
  width: 360px;
  padding: 100px 40px 60px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.5);
}
.card-1 {
  background-image: url(../img/grid-img/USA-secondary.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-2 {
  background-image: url(../img/grid-img/UK-secondary.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-3 {
  background-image: url(../img/grid-img/Canada.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(232, 232, 232, 0.8);
  z-index: 1;
}
.card-container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2196f3;
  transform: scale(0);
  transform-origin: top;
  transition: transform 0.5s;
  z-index: 2;
}
.card-container .card:hover:before {
  transform: scale(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.card-container .card .num {
  position: absolute;
  left: 40px;
  top: 60px;
  font-size: 4.5rem;
  z-index: 1;
  opacity: 0.3;
  transition: 0.5;
  z-index: 2;
}
.card-container .card:hover .num {
  opacity: 1;
  color: var(--text-light);
  transform: translateY(-40px);
}
.card-container .card .card-heading {
  position: relative;
  font-size: 1.5rem;
  z-index: 2;
  transition: 0.5s;
}
.card-container .card .card-text {
  position: relative;
  letter-spacing: 2px;
  line-height: 1.5rem;
  font-weight: 600;
  z-index: 2;
  transition: 0.5s;
}
.card-container .card:hover .card-heading,
.card-container .card:hover .card-text {
  color: var(--text-light);
}
.service-select-box {
  position: relative;
  margin-top: 20px;
  width: 90%;
  z-index: 3;
  box-shadow: none;
}
.service-select-box select {
  background-color: var(--text-light);
  color: var(--main-txt-color);
}

/* ------------------------------------------contact-------------------------------------------------- */

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0f4675;
}
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #2196f3;
}
.contact .contact-container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  /* z-index: 1; */
}
.contact .contact-container .contact-info {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% -80px);
  background: #0f4675;
  z-index: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}
.contact .contact-container .contact-info h2 {
  color: var(--text-light);
  font-size: 1.5rem;
  font-weight: 500;
}
.contact .contact-container .contact-info .info {
  position: relative;
  margin: 20px 0;
}
.contact .contact-container .contact-info .info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}
.contact .contact-container .contact-info .info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}
.contact
  .contact-container
  .contact-info
  .info
  li
  span:nth-child(1)
  .info-icon {
  max-width: 100%;
  filter: invert(1);
  opacity: 0.5;
}
.contact .contact-container .contact-info .info li span:nth-child(2) {
  color: var(--text-light);
  margin-left: 10px;
  font-weight: 300;
  opacity: 0.5;
}
.contact
  .contact-container
  .contact-info
  .info
  li:hover
  span:nth-child(1)
  .icon,
.contact .contact-container .contact-info .info li:hover span:nth-child(2) {
  opacity: 1;
}
.contact .contact-container .contact-info .icons {
  position: relative;
  display: flex;
  margin-top: 3rem;
}
.contact .contact-container .contact-info .icons li {
  list-style: none;
}
.contact .contact-container .contact-info .icons li a {
  text-decoration: none;
}
.contact .contact-container .contact-info .icons li a .s-icon {
  color: var(--text-light);
  opacity: 0.5;
  padding-right: 20px;
  font-size: 3.2rem;
}
.contact .contact-container .contact-info .icons li:hover a .s-icon {
  opacity: 1;
}
.contact .contact-container .contact-form {
  position: absolute;
  padding: 70px 50px;
  background: #fff;
  margin-left: 150px;
  padding-left: 250px;
  width: calc(100% - 150px);
  height: 100%;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}
.contact .contact-container,
.contact-form .contact-heading {
  font-size: 1.8rem;
  font-weight: 600;
}
.contact .contact-container,
.contact-form h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.contact .contact-container .contact-form .form-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.contact .contact-container .contact-form .form-box .input-box {
  position: relative;
  margin: 0 0 35px 0;
}
.contact .contact-container .contact-form .form-box .w50 {
  width: 47%;
}
.contact .contact-container .contact-form .form-box .w100 {
  width: 100%;
}
.contact .contact-container .contact-form .form-box .input-box input,
.contact .contact-container .contact-form .form-box .input-box textarea {
  width: 100% !important ;
  padding: 5px 0;
  resize: none;
  font-size: 1.1rem;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}
.contact .contact-container .contact-form .form-box .input-box textarea {
  min-width: 120px;
}
.contact .contact-container .contact-form .form-box .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  resize: none;
  font-size: 1.1rem;
  font-weight: 300;
  color: #333;
  transition: 0.5s;
  pointer-events: none;
}
.contact
  .contact-container
  .contact-form
  .form-box
  .input-box
  input:focus
  ~ span,
.contact
  .contact-container
  .contact-form
  .form-box
  .input-box
  textarea:focus
  ~ span,
.contact
  .contact-container
  .contact-form
  .form-box
  .input-box
  input:valid
  ~ span,
.contact
  .contact-container
  .contact-form
  .form-box
  .input-box
  textarea:valid
  ~ span {
  transform: translateY(-20px);
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ff568c;
}
.contact
  .contact-container
  .contact-form
  .form-box
  .input-box
  input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: var(--main-txt-color);
  color: var(--text-light);
  border: none;
  max-width: 150px;
  padding: 12px;
}
.contact
  .contact-container
  .contact-form
  .form-box
  .input-box
  input[type="submit"]:hover {
  background: #ff568c;
}
/* ------------------------------------footer--------------------------------------------------- */
.footer {
  border-top: 2px solid var(--text-light);
  background: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
}
.footer div {
  width: 20%;
  padding: 20px;
  color: var(--text-light);
}
.footer-main,
.footer-sub {
  margin-bottom: 1rem;
}
.footer div p,
a {
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.footer div span {
  font-size: 0.7rem;
  line-height: 1.4rem;
}
.footer .footer-card:nth-child(4),
.footer-card:nth-child(5) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
  background-color: var(--primary-color);
  border-top: 1px solid #2196f3;
  height: 40px;
}
/* ---------------------------------------mediaQuerries--------------------------------------------- */
@media screen and (max-width: 1600px) {
  .main-heading {
    font-size: 4.5rem;
  }
  .sub-heading {
    font-size: 2rem;
  }
  /* service */
  .card-container .card {
    width: 330px;
    padding: 80px 30px 30px;
  }
  .card-container .card .num {
    font-size: 3.5rem;
    top: 45px;
  }
  .card-text {
    letter-spacing: 1px;
    line-height: 1rem;
  }
  /* footer */
  .footer-main {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1400px) {
  /* service */
  .card-container .card {
    width: 320px;
  }
  /* footer */
  .footer-main {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1350px) {
  /* service */
  .card-container .card {
    width: 310px;
  }
  .select-box {
    width: 340px;
    height: 30px;
  }
  .select-box .select-intro {
    padding: 4px;
    font-size: 1rem;
  }
  .select-box select {
    padding: 1px 8px;
    font-size: 1rem;
  }
  .service-select-box {
    width: 100%;
  }
  .contact .contact-container .contact-info {
    width: 300px;
  }
  .contact .contact-container .contact-form {
    margin-left: 140px;
    padding-left: 200px;
  }
  .contact .contact-container .contact-info .info li {
    font-size: 1.2rem;
  }
  .footer-main {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 1rem;
  }
  .main-heading {
    font-size: 4rem;
  }
  .sub-heading {
    font-size: 1.8rem;
  }
  .intro {
    font-size: 1rem;
  }
  .service {
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .card-container {
    flex-direction: column;
    justify-content: space-between;
  }
  .card-container .card {
    width: 80%;
    margin: 20px auto;
    padding: 100px 50px 50px;
  }
  .service-select-box {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1150px) {
  .contact .contact-container .contact-info {
    width: 280px;
  }
  .contact .contact-container .contact-form {
    margin-left: 140px;
    padding-left: 180px;
    width: 80%;
  }
  .contact .contact-container .contact-info .info li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1100px) {
  .contact .contact-container .contact-info {
    display: none;
  }
  .contact .contact-container .contact-form {
    margin-left: 110px;
    padding-left: 50px;
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: var(--text-light);
    margin: 5px;
  }
  .navbar {
    background: var(--primary-transparent-one);
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 3;
  }
  .nav-links {
    position: fixed;
    background: var(--primary-transparent-one);
    flex-direction: column;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: 2;
    clip-path: circle(100px at 90% -15%);
    -webkit-clip-path: circle(100px at 90% -15%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -15%);
    -webkit-clip-path: circle(1000px at 90% -15%);
    pointer-events: all;
  }
  .main-section {
    align-items: center;
    text-align: center;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 1.2rem;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 1s;
  }

  li.fade {
    opacity: 1;
  }
}
